html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #2d2d2d;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    border: 1px;
}

.sidebar-satu{
    flex: 1;
    background-color: #333333;
    padding: 15px;
    order: 1;
}

.kolom-utama{
    flex: 2;
    background-color: #2d2d2d;
    padding: 15px;
    order: 2;
}

.kolom-utama img{
    display: block;
    margin: auto;
}

.sidebar-dua{
    flex: 1;
    background-color: #333333;
    padding: 15px;
    order: 3;
}

a{
    color: red;
}

a:hover{
    color: lightcoral;
}